{%  extends "base.html" %}
{% load static %}
{% block content %}
<div class="content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="green">
                    <i class="material-icons">assignment</i>
                </div>
                {% if 'uadd' in permdict %}
                 <a href="{% url 'emp_add' %}"> 
                    <div style="float: right; width: 94px;height: 39px; text-align: center;padding: 3px;" id="ab" class="card-header card-header-icon" data-background-color="rose"><i class="fa fa-plus" aria-hidden="true"></i>Add
                  </div></a>
                {% endif %} 
                <div class="card-content">
                    <h4 class="card-title">User List</h4>
                    <div class="toolbar">
                    </div>
                    <div class="material-datatables">
                        
                        <div class="table-responsive">
                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                            <thead>
                                <tr>
                                     <th class="text-center">S. No</th>
                                        <th>Image</th>
                                        <th>FullName</th>
                                        <th>Mobile No</th>
                                        <th>Email</th>
                                        <th style="text-align:center;">Status</th>
                                        <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for employee in empdata %}
                                <tr>
                                        <td class="text-center">{{ forloop.counter }}</td>
                                        <td> 
                                        {% if not employee.image %}
                                        <img style="height: 80px; width: 80px;" src="{% static 'img/placeholder.jpg' %}"  alt="user-image" class="img">
                                        {% else %}
                                        <img style="height: 80px; width: 80px;" src="{{MEDIA_URL}}{{ employee.image.url }}"  alt="user-image" class="img">
                                        {% endif %}
                                       </td>
                                        <td>{{ employee.first_name }} {{ employee.last_name }}</td>
                                        <td>{{ employee.mobile }}</td>
                                        <td>{{ employee.email }}</td>
                                        <td class="align-middle text-center text-sm">
                                            {% if employee.status == 1 %}
                                            <span class="badge badge-sm bg-gradient-success" >Active</span>
                                            {% else %}
                                            <span class="badge badge-sm bg-gradient-danger">Deactive</span>
                                            {% endif %}
                                        </td>
                                        <td class="td-actions text-right">

                                        <a href="{% url 'emp_view' employee.id  %}">   
                                            <button type="button" rel="tooltip" class="btn btn-rose btn-sm" data-original-title="View" title="">
                                                <i class="material-icons">visibility</i>
                                            <div class="ripple-container"></div></button>
                                        </a> 
                                        {% if 'uedit' in permdict %}
                                        <a href="{% url 'emp_edit' employee.id  %}"><button type="button" rel="tooltip" class="btn btn-success">
                                            <i class="material-icons">edit</i>
                                        </button></a> 
                                        {% endif %}
                                        {% if 'udelete' in permdict %}
                                        <a href="javascript:;"><button
                                            onclick="DeleteEmployee('{{ employee.id }}')" rel="tooltip"  class="btn btn-danger btn-sm"><i class="material-icons">delete</i>
                                              </button></a> 
                                        {% comment %} <a href="{% url 'delete_emp' employee.id  %}"><button
                                             rel="tooltip"  class="btn btn-danger btn-sm"><i class="material-icons">close</i>
                                            </button></a> {% endcomment %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
                <!-- end content-->
            </div>
        </div>
    </div>
</div>
</div>
<script>
    document.getElementById("emp-menu").classList.add("active");
</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  
  function DeleteEmployee(emp_id) {
    var emp_id=emp_id;
          swal({
                  title:"Do you want delete this item?",
                  type: "warning",
                  showCancelButton: true,
                  confirmButtonClass: 'btn btn-success',
                  cancelButtonClass: 'btn btn-danger',
                  buttonsStyling: false,
                  confirmButtonText: "Delete",
                  cancelButtonText: "Cancel",
                  closeOnConfirm: false,
                  showLoaderOnConfirm: true,
              }).then(function () {
                      $.ajax({
                          url : "{% url 'delete_emp' %}",
                          data : {
                            'emp_id' : emp_id
                          },
                          method :"get",
                          success: function(data){
                        //   demo.showNotification('bottom','right','success', data.msg );
                          location.reload();
                          if ($('#'+emp_id).find('.checked').length){
                              $('#'+emp_id).children().prop('checked', false);
                              
                          } else {
                                $('#'+emp_id).children().prop('checked', true);
                            }
                      },
                      error:function(er){
                          console.log(er); 
                      }
                  });

                
              });
        }
            
        
      
</script>
{% endblock %}