{%  extends "base.html" %}
{% load static %}
{% block content %}
<style type="text/css">
  .help-block strong{
    color: red;
  }
</style>
<div class="content">
  {% comment %} @if ($message = Session::get('success') || $message = Session::get('error'))
  @include('layouts.error-sucess-messages')
  @endif {% endcomment %}
  <div class="container-fluid"> 
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="card"> 
          <div class="card-header card-header-icon" data-background-color="rose">
            <i class="material-icons">perm_identity</i> 
          </div>
          <a href="{% url 'list_cred' %}"> 
            <div style=" float: right; width: 94px;height: 39px; text-align: center;padding: 3px;" id="ab" class="card-header card-header-icon" data-background-color="rose"><i class="fa fa-arrow-left" aria-hidden="true"></i>
            Back
          </div>
          </a>
          <div class="card-content">
            <h4 class="card-title">Edit Credential
            </h4>
            <br>
            <form role="form" method="POST" action="{% url 'update_cred' %}" enctype="multipart/form-data">
                <input type="hidden" name="cred_id" id="cred_id" value="{{cred_detail.id}}">
               
              <div class="row"> 
                {% csrf_token %}
                <div class="col-md-6">
                    <div class="form-group label-floating">
                      <label class="control-label">User Name*</label>
                      {% comment %} <input type="number" class="form-control" name="user_ids" value="{{cred_detail.user_ids}}" autocomplete="off"> {% endcomment %}
                      <select class="selectpicker active" data-style="select-with-transition" title="Select username" data-size="7" name="user_ids" id="cred_id" value="{{cred_list.id}}" autocomplete="off" multiple>
                        <option value="" disabled="">Select username</option>
                        {% for employee in cred_list %} 
                        <option value="{{employee.id}}" {% if cred_detail.user_ids == employee.id %} selected multiple {% endif %}>{{employee.first_name}}</option>
                        {% comment %} <option value="{{employee.id}}">{{employee.first_name}}</option> {% endcomment %}
                        {% endfor %}
                      </select>
                    </div>

                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Website Name*</label>
                    <input type="text" class="form-control" name="website_name" value="{{cred_detail.website_name}}" autocomplete="off">
                  </div>
                  {% comment %} @if ($errors->has('first_name'))
                            <span class="help-block">
                                <strong>{{ $errors->first('first_name') }}</strong>
                            </span>
                  @endif {% endcomment %}
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Website Host*</label>
                    <input type="text" class="form-control" name="website_host" value="{{cred_detail.website_host}}" autocomplete="off">
                  </div>
                  {% comment %} @if ($errors->has('last_name'))
                            <span class="help-block">
                                <strong>{{ $errors->first('last_name') }}</strong>
                            </span>
                  @endif {% endcomment %}
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Website IP*</label>
                    <input type="text" class="form-control" name="website_ip" value="{{cred_detail.website_ip}}" autocomplete="off">
                  </div>
                  {% comment %} @if ($errors->has('email'))
                            <span class="help-block">
                                <strong>{{ $errors->first('email') }}</strong>
                            </span>
                  @endif {% endcomment %}
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Website Username*</label>
                    <input type="text" class="form-control" name="website_username" value="{{cred_detail.website_username}}" autocomplete="off">
                  </div>
                  {% comment %} @if ($errors->has('mobile'))
                            <span class="help-block">
                                <strong>{{ $errors->first('mobile') }}</strong>
                            </span>
                  @endif  {% endcomment %}
                  </div>
                </div>
                  
                 
                {% comment %} <div class="col-md-6">
                <div class="form-group label-floating">
                 <label class="control-label">Role Id*</label>
                 <select class="selectpicker" data-style="select-with-transition" title="Select Role" data-size="7" name="role_id" id="emp_id" value="{{user_list.id}}" autocomplete="off">
                  <option value="" disabled="">Select Role</option>
                  {% for role in role_list %} 
                  <option value="{{user_list.id}}">{{role.name}}</option>
                  {% endfor %}
                </select>
                </div> {% endcomment %}
                   {% comment %} @if ($errors->has('mobile'))
                         <span class="help-block">
                             <strong>{{ $errors->first('mobile') }}</strong>
                         </span>
                  @endif  
                </div>
                </div>
                <div class="col-md-4">
                  <div class="card-header card-header-rose card-header-icon">
                    <h4 class="card-title mt-4">Role</h4>
                  </div>
                  <div class="card-body">
                    <div class="form-group concert_dropdown">
                      <select class="selectpicker" data-style="select-with-transition" title="Select Role" data-size="7" name="role_id" id="role_id" data-live-search="true" required="true" tabindex="-98"
                        >
                          <option value="" disabled="">Select Role</option>
                          {% for role in role_list %}
                          <option value="{{role.id}}">{{role.name}}</option>
                          {% endfor %}
                        </select>
                    </div>
                  </div>
                </div> {% endcomment %}
                 <div class="col-md-6">
                   <div class="form-group label-floating">
                      <label class="control-label">Website Password*</label>
                      <input type="password" class="form-control" name="website_password" value="{{cred_detail.website_password}}" autocomplete="off">
                    </div>
                 </div>

                 {% comment %} <div class="col-md-6">
                    <div class="form-group label-floating">
                       <label class="control-label">Added By*</label>
                       <input type="text" class="form-control" name="added_by" value="{{cred_detail.added_by}}" autocomplete="off">
                     </div>
                  </div> {% endcomment %}

                  {% comment %} <div class="col-md-6">
                    <div class="form-group label-floating">
                       <label class="control-label">Creadted Date*</label>
                       <input type="date" class="form-control" name="created_at" value="{{cred_detail.created_at}}" autocomplete="off">
                     </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group label-floating">
                       <label class="control-label">Updated Date*</label>
                       <input type="date" class="form-control" name="updated_at" value="{{cred_detail.updated_at}}" autocomplete="off">
                     </div>
                  </div> {% endcomment %}

              {% comment %} <div class="row">
                  <div class="col-md-3 col-sm-4">
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                      <div class="fileinput-new thumbnail img-circle">
                        <img src="{% static 'img/placeholder.jpg' %}" alt="...">
                      </div>
                      <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
                      <div>
                        <span class="btn btn-round btn-rose btn-file">
                          <span class="fileinput-new">Add Profile Image</span>
                          <span class="fileinput-exists">Change</span>
                          <input type="file" name="image" />
                        </span>
                        <br />
                        <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                      </div>
                      @if ($errors->has('image'))
                            <span class="help-block">
                                <strong>{{ $errors->first('image') }}</strong>
                            </span>
                    @endif 
                    </div>
                  </div> 
              </div>{% endcomment %}
              <td class="text-center">
                <input type='hidden' name="UserID" id="chktext"> 
            </td>
              <center><button type="submit" id='but1' class="btn btn-rose center-block">Update</button></center>
              <div class="clearfix"></div>
            </form>
            <script>
              $(document).ready(function()
              {
                  $('.selectpicker').change(function() {
                    var text="";
                    $('option:selected').each(function()
                    {
                        text+=$(this).val()+' ';
                    });
                    text=text.substring(0,text.length-1).split();
                    //returns the value of the selected option.
                     $('#chktext').val(text);
                });
                  $('#but1').click(function()
                  {
                      alert('success');
                  });
              });
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById("cred-menu").classList.add("active");
</script>
{% endblock %}
<script src="https://cdn.ckeditor.com/4.11.2/standard/ckeditor.js"></script>


