{%  extends "base.html" %}
{% load static %}
{% block content %}
<div class="content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="green">
                    <i class="material-icons">assignment</i>
                </div>
                {% if 'sadd' in permdict %}
                 <a href="{% url 'add_cred' %}"> 
                    <div style="float: right; width: 94px;height: 39px; text-align: center;padding: 3px;" id="ab" class="card-header card-header-icon" data-background-color="rose"><i class="fa fa-plus" aria-hidden="true"></i>Add
                  </div></a>
                {% endif %}
                <div class="card-content">
                    <h4 class="card-title">Credentials List</h4>
                    <div class="toolbar">
                    </div>
                    <div class="material-datatables">
                        
                        <div class="table-responsive">
                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                            <thead>
                                <tr>
                                     <th class="text-center">S. No</th>
                                        <th>Website Name</th>
                                        <th>Added By</th>
                                        <th>Updated By</th>
                                        <th>Created Date</th>
                                        <th>Updated Date</th>
                                        <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for credentials in cred_web_data %}
                                <tr>
                                        <td class="text-center" style="height: 80px; width: 80px;">{{ forloop.counter }}</td>
                                        {% comment %} <td> 
                                        {% if not credentials.image %}
                                        <img style="height: 80px; width: 80px;" src="{% static 'img/placeholder.jpg' %}"  alt="user-image" class="img">
                                        {% else %}
                                        <img style="height: 80px; width: 80px;" src="{{MEDIA_URL}}{{ credentials.image.url }}"  alt="user-image" class="img">
                                        {% endif %}
                                       </td> {% endcomment %}
                                        <td>{{ credentials.website_name }}</td>
                                        <td>{{ credentials.first_name }} {{ credentials.last_name }}</td>
                                        <td>{{ credentials.first_name }} {{ credentials.last_name }}</td>
                                        <td>{{ credentials.created_at }}</td>
                                        <td>{{ credentials.updated_at }}</td>
                                        <td class="td-actions text-right">
                                        <a href="{% url 'view_cred' credentials.id %}">   
                                            <button type="button" rel="tooltip" class="btn btn-rose btn-sm" data-original-title="View" title="">
                                                <i class="material-icons">visibility</i>
                                            <div class="ripple-container"></div></button>
                                        </a> 
                                        {% if 'sedit' in permdict %}
                                        <a href="{% url 'edit_cred' credentials.id %}"><button type="button" rel="tooltip" class="btn btn-success">
                                            <i class="material-icons">edit</i>
                                        </button></a> 
                                        {% endif %}
                                        {% if 'sdelete' in permdict %}
                                        <a href="javascript:;"><button
                                            onclick="DeleteData('{{ credentials.id }}')" rel="tooltip"  class="btn btn-danger btn-sm"><i class="material-icons">close</i>
                                            </button></a>
                                        {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
                <!-- end content-->
            </div>
        </div>
    </div>
</div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script> function DeleteData(cred_id){
          var cred_id = cred_id;
    
              swal({
              title: 'Are you sure?',
              text: 'You want to delete this role!!!',
              type: 'info',
              showCancelButton: true,
              confirmButtonClass: 'btn btn-success',
              cancelButtonClass: 'btn btn-danger',
              confirmButtonText: 'Yes, Change it!',
              buttonsStyling: false
              }).then(function() {
                  $.ajax({
                      url: '{% url 'delete_cred' %}',
                      data: {
                          'cred_id': cred_id
                      },
                      method:"get",
                      success:function(data)
                      {   
                        alert(data.msg);
                          location.reload();
                      },
                      error:function(er){
                          console.log(er); 
                      }
                  });
              });
        }

</script>
<script>
    document.getElementById("cred-menu").classList.add("active");
  </script>
{% endblock %}