{% extends 'base.html' %}
{% load static %}
{% block content %}

<style type="text/css">
    .my-modal{
        width: 28%;
    }

    @media only screen and (max-width: 600px) {
      .my-modal{
        width: 90%;
    }
    img{
        height: 180px !important;
        width: 260px !important;
    }
    

}
</style>
<div class="content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="rose">
                    <div class="user-profile" style="width: 100px;">
                        {% if not cred_detail.image %}
                        <img src="{% static 'img/placeholder.jpg' %}" alt="...">
                        {% else %}
                        <img  src="{{MEDIA_URL}}{{cred_detail.image.url}}" />
                        {% endif %}
                    </div>
                </div>
                <a href="{% url 'list_cred' %}"> 
                    <div style=" float: right; width: 94px;height: 39px; text-align: center;padding: 3px;" id="ab" class="card-header card-header-icon" data-background-color="rose"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Back
                    </div>
                </a><br><br><br><br><br> 
                
                <div class="card-content">
                    
                    
                    <ul class="nav nav-pills nav-pills-warning">
                        <li class="active">
                            <a href="#pill2" data-toggle="tab">Profile Info</a>
                        </li>
                        {% comment %} <li>
                            <a href="#pill2" data-toggle="tab">Request</a>
                        </li> 
                        <li>
                            <a href="#pill8" data-toggle="tab">Payments</a>
                        </li> {% endcomment %}
                    </ul>
                    {% csrf_token %}
                    <div class="tab-content">
                        <div class="tab-pane active" id="cred_id" name="cred_detail.id">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="col-md-4 label-on-right">User Id</label>
                                    <div class="col-md-8">
                                        <div class="form-group label-floating is-empty">
                                            <input type="text" class="form-control" value="{{ cred_detail.user_ids }}" disabled="true">
                                            <span class="material-input"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-4 label-on-right">Website Name</label>
                                    <div class="col-md-8">
                                        <div class="form-group label-floating is-empty">
                                            <input type="email" class="form-control"  value="{{cred_detail.website_name}}" disabled="true">
                                            <span class="material-input"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-4 label-on-right">Website Host</label>
                                    <div class="col-md-8">
                                        <div class="form-group label-floating is-empty">
                                            <input type="text" class="form-control" value="{{cred_detail.website_host}}" disabled="true">
                                            <span class="material-input"></span>
                                        </div>
                                    </div>
                                </div>
                                {% comment %} @if($user->aboutme !='' )
                                <div class="col-md-6">
                                    <label class="col-md-4 label-on-right">About Me</label>
                                    <div class="col-md-8">
                                        <div class="form-group label-floating is-empty">
                                            <input type="text" class="form-control" value="{{$user->aboutme}}" disabled="true">
                                            <span class="material-input"></span>
                                        </div>
                                    </div>
                                </div>
                                @endif {% endcomment %}
                                
                                <div class="col-md-6">
                                    <label class="col-md-4 label-on-right">Website IP</label>
                                    <div class="col-md-8">
                                        <div class="form-group label-floating is-empty">
                                            <input type="text" class="form-control"  value="{{ cred_detail.website_ip }}" disabled="true">
                                            <span class="material-input"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-4 label-on-right">Website Username</label>
                                    <div class="col-md-8">
                                        <div class="form-group label-floating is-empty">
                                            <input type="text" class="form-control" value="{{cred_detail.website_username}}" disabled="true">
                                            <span class="material-input"></span>
                                        </div>
                                    </div>
                                </div><div class="col-md-6">
                                    <label class="col-md-4 label-on-right">Website Password</label>
                                    <div class="col-md-8">
                                        <div class="form-group label-floating is-empty">
                                            <input type="text" class="form-control" value="{{cred_detail.website_password}}" disabled="true">
                                            <span class="material-input"></span>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        
                        
                 </tbody>
                </table>
            </div>
        </div>   
    </div>
</div>


</div>
</div>
<!--  end card  -->
</div>
<!-- end col-md-12 -->
</div>
<!-- end row -->
</div>
</div>
<script>
    document.getElementById("cred-menu").classList.add("active");
</script>
{% endblock %}
<script src="https://cdn.ckeditor.com/4.11.2/standard/ckeditor.js"></script>